*.class
*~
/com.yworks.yfiles.java.license.xml
/src/com.yworks.yfiles.java.license.xml
.idea/*
src/yfiles-for-java.jar
out/
/src/*.log
/rome/*
!/rome/out/
!/rome/out/*
/rome/out
src/algorithms/canonicalOrder/CanonicalOrderMy.java
src/commons-cli-1.4.jar
